@{
    ViewBag.Title = "Collaboration";
    ViewBag.Desc = "Partnership / Collaboration Proposal";
    ViewBag.Detail = "startup-profile";
}

<section id="startup-profile">
    <div class="text-center">
        <h1 class="display-3 fw-bold">About Us</h1>
        <hr class="bg-white mb-3 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
        <p class="p-text text-white mb-5">Profile of BlockDev</p>
    </div>
    <div class="row">
        <h6 class="text-center mt-4 text-light h6">BlockDev is a startup that specializes in creating WordPress plugins and themes. Hundreds of well-known clients such as SemenGresik, Desa Oro-Oro Ombo and many others choose us as partners to improve their websites to achieve the best results. BlockDev is able to meet your expectations in perfecting the features of your start-up web development including planning, system design, content, prototypes, UI/UX, neat code implementation, infrastructure and testing. Everything will work according to your expectations to provide features in your startup website.</h5>
    </div>
</section>
<section id="values">
    <div class="text-center">
        <h1 class="display-3 fw-bold">Value</h1>
        <hr class="bg-white mb-3 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
        <p class="p-text text-white mb-5">BlockDev Values</p>
    </div>
    <div class="row">
        <h6 class="text-center mt-4 text-light h6">Service excellence exceeding our customer's
            expectations. To continuosly improve through developing our people. Maintain integrity
            and accountability in all communications and actionsOur company is well known for
            prioritising client satisfaction by providing superior levels of customer handling.
            We are aware that every client has different requirements nd this is why we tailor our
            services to meet specific requests</h6>
    </div>
</section>
<section id="benefit">
    <div class="text-center">
        <h1 class="display-3 fw-bold">Benefit</h1>
        <hr class="bg-white mb-3 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
        <p class="p-text text-white mb-5">What will you get from this partnership?</p>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card bg-dark border-0 shadow rounded-xs pt-5">
                <div class="card-body"> <i class="far fa-newspaper icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3 text-white">Blog Post Announcing Partnership</h4>
                    <p class="text-white">A posts about collaboration between BlockDev and your company.</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card bg-dark border-0 shadow rounded-xs pt-5">
                <div class="card-body"> <i class="fas fa-hashtag icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3" ></i>
                    <h4 class="mt-4 mb-3 text-white">Social Mentions</h4>
                    <p class="text-white">Your company will be mentioned on all BlockDev social media (Twitter, Instagram, Tiktok, Facebook)</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card bg-dark border-0 shadow rounded-xs pt-5">
                <div class="card-body"> <i class="fas fa-envelope icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3 text-white">Email Mentions</h4>
                    <p class="text-white">Information regarding the collaboration of BlockDev and your company will be sent to the emails of BlockDev subscribers (100,000 Subscribers)</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card bg-dark border-0 shadow rounded-xs pt-5">
                <div class="card-body"> <i class="fab fa-adversal icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i>
                    <h4 class="mt-4 mb-3 text-white">15 Seconds Advertising Spot</h4>
                    <p class="text-white">Your company will be mentioned in BlockDev podcasts</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-us">
    <div class="text-center">
        <h1 class="display-3 fw-bold">Contact Us</h1>
        <hr class="bg-white mb-3 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
    </div>
    <div class="row">
        <h6 class="text-center mt-4 text-light h6">Send your proposal to <a class="icon-cyan" href="mailto:publication@@blockdev.net">publication@blockdev.net</a> and send the proposal in PDF form</h5>
    </div>
</section>